{% macro info_single(prop, value, meta) %}
    <div class="info_wrapper">
        <div class="info">
            <div class="prop">{{ prop }}</div>
            <div class="value">{{ value }}</div>
        </div>
        {{ m.meta_info(meta) }}
    </div>
{% endmacro %}

{% macro phone_numbers(phones) %}
    <div class="info_wrapper">
        <div class="info">
            <div class="prop">Phone Numbers</div>
            <div class="value">
                {% for phone in phones.numbers %}
                    {{ phone.number }} ({{ phone.type }})<br>
                {% endfor %} 
            </div>
        </div>
        {{ m.meta_info(phones.meta) }}
    </div>
{% endmacro %}

{% macro email_addresses(emails) %}
    <div class="info_wrapper">
        <div class="info">
            <div class="prop">Email Addresses</div>
            <div class="value">
                {% for email in emails.emails %}
                    {{ email }}<br>
                {% endfor %}
            </div>
        </div>
        {{ m.meta_info(emails.meta) }}
    </div>
{% endmacro %}

{% macro work(work_history) %}
    {% for position in work_history %}
        <div class="info_wrapper">
            <div class="info position">
                <span>{{ position.title }}</span><br>
                {{ position.company }}<br>
                {{ position.start }}-{{ position.end }}<br>
            </div>
            {{ m.meta_info(position.meta) }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro education_info(education) %}
    {% for school in education.schools %}
        <div class="info_wrapper">
            <div class="info school">
                {% if school.type == "college" %}
                    <div class="school_name">{{ school.name }}</div>
                    <div class="prop">Major: </div>
                    <div class="value">{{ school.major }}</div><br>
                    {% if school.minors %}
                        <div class="prop">Minors: </div>
                        <div class="value">{{ school.minors|join(", ") }}</div><br>
                    {% endif %}
                    <div class="prop">Graduating Year: </div>
                    <div class="value">{{ school.grad_year }}</div>
                {% else %}
                    <div class="school_name">{{ school.name }}</div>
                    <div class="prop">Graduating Year: </div>
                    <div class="value">{{ school.grad_year }}</div>
                {% endif %}
            </div>
            {{ m.meta_info(school.meta) }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro interest_list(interests) %}
    <div class="info_wrapper">
        <div class="info">
            {% for interest in interests.list %}
                {% if loop.last %}
                    {{ interest }}
                {% else %}
                    {{ interest }}, 
                {% endif %}
            {% endfor %}
        </div>
        {{ m.meta_info(interests.meta) }}
    </div>
{% endmacro %}

{% macro social(social_accounts) %}
    
    {% for account in social_accounts %}
        {{ m.info_single(account.type, account.url, account.meta)}}
    {% endfor %}

{% endmacro %}

{% macro address_list(addresses) %}
    {% for address in addresses %}
        <div class="info_wrapper">
            <div class="info">
                {{ m.address_format(address) }}
            </div>
            {{ m.meta_info(address.meta)}}
        </div>
    {% endfor %}
{% endmacro %}

{% macro current_address(address) %}
    <div class="info_wrapper">
        <div class="info">
            <div class="prop">Current Address</div>
            <div class="value">{{ m.address_format(address) }}</div>
        </div>
        {{ m.meta_info(address.meta)}}
    </div>
{% endmacro %}

{% macro address_format(address) %}
    <div class="address">
        {{ address.street_address }}<br>
        {{ address.city }}, {{ address.state }} {{ address.zip}}
    </div>
{% endmacro %}

{% macro other_locations(locations) %}
    <div class="info_wrapper">
        <div class="info">
            {% for location in locations.locations %}
                {{ location }}<br>
            {% endfor %}
        </div>
        {{ m.meta_info(locations.meta)}}
    </div>
{% endmacro %}

{% macro orgs(organizations) %}
    {% for org in organizations %}
        <div class="info_wrapper">
            <div class="info">
                {{ org.name }} ({{ org.position|default("Member")}})
            </div>
            {{ m.meta_info(org.meta) }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro meta_info(meta) %}
    {% if meta %}
        <div class="meta">
                {{ meta.source }}
                {{ meta.fix }}
        </div>
    {% endif %}
{% endmacro %}