/* =============================================================================
 * _globals.scss
 * Author: Dillon Grove
 * 
 * Definitions for global SCSS variables. This file is included by main.scss, 
 * and is not compiled standalone.
 *
 * ========================================================================== */

/* ========== MODES ========================================================= */

$standalone: true;

/* ========== COLORS ======================================================== */


/* ========== SIZING AND LAYOUT ============================================= */

$app_width: 300px;
$app_height: 300px;

$app_border_radius: 10px;