/* =============================================================================
 * main.scss
 * Author: Dillon Grove
 * 
 * This file is repsonsbile for importing all dependencies and providing main
 * styles. It is the only file ultimately included in the page
 *
 * ========================================================================== */

/* ========== IMPORTS ======================================================= */
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "globals";
@import "animations";

@import "compass/utilities/general/clearfix";

/* ========== MODE SWITCHING ================================================ */

@if $standalone == true {

    body {
        @include background(image-url("mac_desktop.jpg"));
        background-size: cover;
    }

    #app_container {
        position: absolute;
        top: 40px;
        right: 400px;
        @include box-shadow(0px 0px 20px #333);
    }

}

#app_container {
    width: $app_width;
    height: $app_height;
    overflow-y: scroll;
    @include border-radius($app_border_radius);
    background-color: white;
}

#app_mask_wrapper {
    @include border-radius($app_border_radius);

    /* What. The. Fuck.
     * http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera
     */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

/*========== BASIC STYLES =================================================== */

* {
    @include user-select(none);
}

html {
    /* prevent webkit and ms mobile browsers from resizing text */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    height: 100%;
}

body {
    font-family: "Open Sans", "HelveticaNeue", Arial, Helvetica, sans-serif;
    height: 100%;
}

h1 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 16px;
}

h2 {
    font-size: 12px;
    font-weight: bold;
    @include box-sizing(border-box);
    width: 100%;
    padding: 12px;
    color: #019bc6;
    border-bottom: 1px dashed #ccc;
    text-transform: uppercase;
}

/*
table {
    width: 100%;
    margin-top: -6px;
    margin-bottom: -6px;
}

td {
    padding: 6px 0px;

    &:first-child {
        font-weight: bold;
    }
}
*/
/*========== PRIMARY LAYOUT ================================================= */

.dossier {
    padding: 18px;
}

.top_section {
    text-align: center;

    img {
        display: inline-block;
        @include border-radius(50%);
        width: 140px;
        height: 140px;
        margin-bottom: 12px;
    }
}

.section {
    @include border-radius(4px);
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 16px;
}

.section_content {
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/*========== NOT READY YET STYLES =========================================== */

.not_ready_message {
    text-align: center;
    margin-top: 100px;

    p {
        font-weight: 100;
        font-style: italic;
    }
}

/*========== INFO BLOCKS ==================================================== */

.info {
    padding: 8px $section_content_padding;
    overflow: hidden;

    &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }
}

.prop {
    font-weight: bold;
    float: left;
    width: 140px;
}

.value {
    float: left;
}

.meta {
    display: none;
    padding: 16px $section_content_padding;
    color: #444;
    background-color: #F0F0F0;
    font-style: italic;
}

/*========== SECTION SPECIFIC STYLES ======================================== */

.position {
    line-height: 1.3;
    margin-bottom: 4px;

    span {
        font-weight: bold;
    }
}